.snake-grid{
  border: 2px solid blue;
  display: inline-block;
}

.snake-row{
  display: inline-block;
  float: left;
  clear: left;
}

.snake-cell{
  height: 10px;
  width: 10px;
  margin: 0px;
  border: 1px solid green;
  background-color: gray;
  display: inline-block;
}

.snake-head{
  background-color: red;
};
